//Definición de colores
$verde: #009999;
$morado: #9a2d9d;
$texto: #333;
$mobile: 300px;
$tablet: 768px;
$desktop1:1024px;
$desktop2: 1366px;
$desktop3: 1400px;
/**********************************************************************************************************/
/**********************************************************************************************************/
/**********************************************************************************************************/

//Fuentes
@font-face {
    font-family: 'Lato-Black';
    src: url(../resources/fonts/Lato-Black.ttf) format('truetype');
}

@font-face {    
    font-family: 'Lato-Light';
    src: url(../resources/fonts/Lato-Light.ttf) format('truetype');
}

/**********************************************************************************************************/
/**********************************************************************************************************/
/**********************************************************************************************************/

//Mixins
@mixin basic-flex {
    display:flex;
}

@mixin basic-body {
    font-family: 'Lato-Light';
    color: $texto;    
}

@mixin img-resize-catalog-mobile {
    max-width: 65%;
    height: auto;
}

@mixin img-resize-catalog-tablet {
    width: 70%;
    height: auto;
}

@mixin img-resize-catalog-desktop {
    width: 10em;
    height: auto;
}

@mixin img-resize-aside {
    width: 7em;
    height: auto;
}

@mixin hover-morado{
    color: $morado;
    font-family: 'Lato-Black';
}

@mixin hover-verde {
    color: $verde;
    font-family: 'Lato-Black';    
}

/**********************************************************************************************************/
/**********************************************************************************************************/
/**********************************************************************************************************/

//Generales
*{
    margin: 0;
    padding: 0 ;
}
@media only screen and (min-width:$mobile) and (max-width:($desktop1)-1){
    body{
        @include basic-body;
        padding: 0;
    }
}
@media only screen and (min-width:$desktop1) and (max-width:($desktop3)-1){
    body{
        padding: 0 8em;
    }
}
@media only screen and (min-width:$desktop3){
    body{
        padding: 0 12em;
    }
}
.main{
    @include basic-flex;
}

/**********************************************************************************************************/
/**********************************************************************************************************/
/**********************************************************************************************************/

//Header

@media only screen and (min-width:$mobile) and (max-width:($tablet)-2) {
    header{
        max-width: 95%;
        padding:0;
        margin: 1em auto;
        align-items: center;
        .logo-container{
            @include basic-flex;
            justify-content: center;
            align-items: center;
            .logo-empresa{            
                max-width: 95%;
                height: auto;
            }
        }
        .my-nav{
            @include basic-flex;
            justify-content: flex-end;
            flex-wrap: wrap-reverse;
            list-style-type: none;
            margin:1em 0;
            padding:0;
            li{
                border-right: 1px solid $verde;
                padding:  0 .2em;
                margin: .8em 0;    
                &:last-child{
                    border-right: none;
                }
                a{
                    color:$texto;
                    text-decoration: none;
                    font-family: 'Lato-Light';
                    padding: .2em .2em;    
                    &:hover{
                        @include hover-verde;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width:($tablet)-1) and (max-width:($desktop1)-1){
    header{
        max-width: 95%;
        padding:0;
        margin: 3em auto 0;
        align-items: center;
        .logo-container{
            @include basic-flex;
            justify-content: center;
            align-items: center;
            .logo-empresa{            
                width: auto;
                max-height: 7em;
            }
        }
        .my-nav{
            @include basic-flex;
            justify-content: flex-end;
            list-style-type: none;
            margin:1em 0;
            padding:0;
            li{
                border-right: 1px solid $verde;
                padding:  0 .2em;
                margin: .8em 0;    
                &:last-child{
                    border-right: none;
                }
                a{
                    color:$texto;
                    text-decoration: none;
                    font-family: 'Lato-Light';
                    padding: .2em .2em;    
                    &:hover{
                        @include hover-verde;
                    }
                }
            }
        }
    }
}

/*
.logo-container{
    @include basic-flex;
    justify-content: center;
    align-items: center;
    margin: 2em 0 1em;
    .logo-empresa{            
        width: auto;
        height: 5.5em;
    }
}

.my-nav{
    @include basic-flex;
    justify-content: flex-end;
    flex-wrap: wrap-reverse;
    list-style-type: none;
    margin:0;
    padding:0;

    li{
        border-right: 1px solid $verde;
        padding: 0;
        margin: 0;

        &:last-child{
            border-right: none;
        }
        a{
            color:$texto;
            text-decoration: none;
            font-family: 'Lato-Light';
            padding: .2em 1em;

            &:hover{
                @include hover-verde;
            }
        }
    }
}

*/

/**********************************************************************************************************/
/**********************************************************************************************************/
/**********************************************************************************************************/


//Main Catalog

@media only screen and (min-width:$mobile) and (max-width:($tablet)-1){
    .layout{
        @include basic-flex;
    
    }
    .main-footer{
        @include basic-flex;
        flex-wrap: wrap;
    }
    .catalog{
        @include basic-flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin: 0 auto;
    }

    .background-container{
        background-color: $verde;
        padding: 1em;
        border-radius: 5%;
        max-width: 95%;
        margin:.6em auto;
    }
    .product-container{
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        background-color: white;
        max-height: auto;
        margin: 0 auto;
        padding: .3em .1em;
        align-items: center;
        border-radius: 8%;
        outline: 2px dotted white;
        outline-offset: .4em;
    
        &:hover{        
            @include hover-morado;
        }
        .product-img{
            @include img-resize-catalog-mobile;
            border-radius: 5%;

        }
        .product-description{
            align-self: center;
        }
    }
}

@media only screen and (min-width:$tablet) and (max-width:($desktop1)-1){
    .layout{
        @include basic-flex;
    }
    .main-footer{
        @include basic-flex;
        flex-wrap: wrap;
    }
    .catalog{
        @include basic-flex;
        flex-wrap: wrap;
        margin: 0 auto;
        max-width: 95%;
        justify-content: space-between;
    }

    .margin-container{
        background-color: rgba($color: white, $alpha: 0);
        border-radius: 5%;
        border-style: dotted;
        border-color: white;
        border-width: 2px;
        padding: .5em;
        align-items: stretch;
        align-content: stretch;
    }

    .background-container{
        background-color: $verde;
        padding: 1em;
        border-radius: 5%;
        max-width: 32%;
        margin:.6em 0;
        padding:.5em;
        align-items: stretch;
        align-content: stretch;
    }
    .product-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        background-color: white;
        max-height: auto;
        margin: 0 auto;
        padding: .3em .5em;
        align-items: center;
        border-radius: 8%;
    
        &:hover{        
            @include hover-morado;
        }
        .product-img{
            @include img-resize-catalog-tablet;
            border-radius: 5%;
        }
        .product-description{
            padding: 1em 0 0;
            border-top: 2px dotted $verde;
            align-self: center;
            text-align: center;
        }
    }

}

/*
.layout{
    @include basic-flex;

}
.main-footer{
    @include basic-flex;
    flex-wrap: wrap;
}
.catalog{
    @include basic-flex;
    flex-wrap: wrap;
    padding: 2em 0;
}

.product-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 20em;
    max-height: 20em;
    align-items: center;
    margin: 0 .5em;
    padding: 0 .5em .2em;
    border: 1em solid $verde;
    border-radius: 10%;
    outline: 2px dotted white;
    outline-offset: -.8em;

    &:hover{        
        @include hover-morado;
    }
    .product-img{
        @include img-resize-catalog;
        margin: 0 1em .2em;  
    }
    .product-description{
        align-self: center;
        text-align: center;
        border-top: .15em dotted $verde;
        padding-top: 1em;
        padding-bottom: .1em;
    }

}
*/

/**********************************************************************************************************/
/**********************************************************************************************************/
/**********************************************************************************************************/

//Footer

@media only screen and (min-width:$mobile) and (max-width:($desktop1)-1){
    .my-footer{
        @include basic-flex;
        align-items: flex-end;
        align-self: flex-end;
        align-content:flex-end;
        justify-content: flex-end;
        width: 95%;
        margin:0 auto;
    }
    
    .logo-svg{
        background-color: $morado;
        width: 3em;
        margin: 0 .3em;
        border-radius: 50%;
    }

}

@media only screen and (min-width:$desktop1){
    .my-footer{
        @include basic-flex;
        align-items: flex-end;
        align-self: flex-end;
        align-content:flex-end;
        justify-content: flex-end;
        max-width: 95%;
        margin-right: .6em;
    }
    
    .logo-svg{
        background-color: $morado;
        width: 3em;
        margin: 0 .3em;
        border-radius: 50%;
    }

}

/**********************************************************************************************************/
/**********************************************************************************************************/
/**********************************************************************************************************/



//Aside

//Desaparecer para móviles
@media only screen and (min-width:$mobile) and(max-width:$desktop1){
    .aside{
        display:none;
    }
}

//Aparecer para compu grandota
@media only screen and (min-width:($desktop1)+1){
    .aside{
        @include basic-flex;
        padding-top: 2em;
    }
    
    .aside-container{
        display: flex;
        flex-wrap: wrap;
        max-width: 25em;
        flex-direction: column;
    }
    
    .product-aside-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 18em;
        max-height: 15em;
        align-items: center;
        margin: .2em;
        padding: 0 1.5em .2em;
        border: .8em solid $morado;
        border-radius: 10%;
        &:hover{        
            @include hover-verde;
        }
        .product-img-aside{
            @include img-resize-aside;
        }
        p{
            align-self: center;
            text-align: center;
            font-size: .75em;
        }
    
    }

}

/**********************************************************************************************************/
/**********************************************************************************************************/
/**********************************************************************************************************/

//Fixed image

@media only screen and (min-width:$mobile){
    .fixed-img{
        display:none;
    }
}
