/**********************************************************************************************************/
/**********************************************************************************************************/
/**********************************************************************************************************/
@font-face {
  font-family: "Lato-Black";
  src: url(../resources/fonts/Lato-Black.ttf) format("truetype");
}
@font-face {
  font-family: "Lato-Light";
  src: url(../resources/fonts/Lato-Light.ttf) format("truetype");
}
/**********************************************************************************************************/
/**********************************************************************************************************/
/**********************************************************************************************************/
/**********************************************************************************************************/
/**********************************************************************************************************/
/**********************************************************************************************************/
* {
  margin: 0;
  padding: 0;
}

@media only screen and (min-width: 300px) and (max-width: 1023px) {
  body {
    font-family: "Lato-Light";
    color: #333;
    padding: 0;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1399px) {
  body {
    font-family: "Lato-Light";
    color: #333;
    padding: 0 8em;
  }
}
@media only screen and (min-width: 1400px) {
  body {
    font-family: "Lato-Light";
    color: #333;
    padding: 0 12em;
  }
}
.main {
  display: flex;
}

.hidden {
  display: none;
}

/**********************************************************************************************************/
/**********************************************************************************************************/
/**********************************************************************************************************/
@media only screen and (min-width: 300px) and (max-width: 766px) {
  header {
    max-width: 95%;
    padding: 0;
    margin: 1em auto;
    align-items: center;
  }
  header .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  header .logo-container .logo-empresa {
    max-width: 95%;
    height: auto;
  }
  header .my-nav {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap-reverse;
    list-style-type: none;
    margin: 1em 0;
    padding: 0;
  }
  header .my-nav li {
    border-right: 1px solid #009999;
    padding: 0 0.2em;
    margin: 0.8em 0;
  }
  header .my-nav li:last-child {
    border-right: none;
  }
  header .my-nav li a {
    color: #333;
    text-decoration: none;
    font-family: "Lato-Light";
    padding: 0.2em 0.2em;
  }
  header .my-nav li a:hover {
    color: #009999;
    font-family: "Lato-Black";
  }
}
@media only screen and (min-width: 767px) and (max-width: 1023px) {
  header {
    max-width: 95%;
    padding: 0;
    margin: 3em auto 0;
    align-items: center;
  }
  header .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  header .logo-container .logo-empresa {
    width: auto;
    max-height: 7em;
  }
  header .my-nav {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    margin: 1em 0;
    padding: 0;
  }
  header .my-nav li {
    border-right: 1px solid #009999;
    padding: 0 0.2em;
    margin: 0.8em 0;
  }
  header .my-nav li:last-child {
    border-right: none;
  }
  header .my-nav li a {
    color: #333;
    text-decoration: none;
    font-family: "Lato-Light";
    font-size: 0.9em;
    padding: 0.2em 0.2em;
  }
  header .my-nav li a:hover {
    color: #009999;
    font-family: "Lato-Black";
  }
}
@media only screen and (min-width: 1024px) {
  header {
    margin-bottom: 1em;
  }

  .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2em 0 1em;
  }
  .logo-container .logo-empresa {
    width: auto;
    height: 8%;
  }

  .my-nav {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .my-nav li {
    border-right: 1px solid #009999;
    padding: 0;
    margin: 0;
  }
  .my-nav li:last-child {
    border-right: none;
  }
  .my-nav li a {
    color: #333;
    text-decoration: none;
    font-family: "Lato-Light";
    padding: 0.2em 0.5em;
  }
  .my-nav li a:hover {
    color: #009999;
    font-family: "Lato-Black";
  }
}
/**********************************************************************************************************/
/**********************************************************************************************************/
/**********************************************************************************************************/
@media only screen and (min-width: 300px) and (max-width: 767px) {
  .layout {
    display: flex;
  }

  .main-footer {
    display: flex;
    flex-wrap: wrap;
  }

  .catalog {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0 auto;
  }

  .margin-container {
    background-color: rgba(255, 255, 255, 0);
    border-radius: 5%;
    border-style: dotted;
    border-color: white;
    border-width: 2px;
    padding: 0.5em;
    align-items: stretch;
    align-content: stretch;
  }

  .background-container {
    background-color: #009999;
    padding: 1em;
    border-radius: 5%;
    max-width: 95%;
    margin: 0.6em auto;
  }

  .product-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    background-color: white;
    max-height: auto;
    margin: 0 auto;
    padding: 0.3em 0.1em;
    align-items: center;
    border-radius: 8%;
  }
  .product-container:hover {
    color: #9a2d9d;
    font-family: "Lato-Black";
  }
  .product-container .product-img {
    max-width: 65%;
    height: auto;
    border-radius: 5%;
  }
  .product-container .product-description {
    align-self: center;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .layout {
    display: flex;
  }

  .main-footer {
    display: flex;
    flex-wrap: wrap;
  }

  .catalog {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 95%;
    justify-content: space-between;
  }

  .margin-container {
    background-color: rgba(255, 255, 255, 0);
    border-radius: 5%;
    border-style: dotted;
    border-color: white;
    border-width: 2px;
    padding: 0.5em;
    align-items: stretch;
    align-content: stretch;
  }

  .background-container {
    background-color: #009999;
    padding: 1em;
    border-radius: 5%;
    max-width: 32%;
    margin: 0.6em 0;
    padding: 0.5em;
    align-items: stretch;
    align-content: stretch;
  }

  .product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: white;
    max-height: auto;
    margin: 0 auto;
    padding: 0.3em 0.5em;
    align-items: center;
    border-radius: 8%;
  }
  .product-container:hover {
    color: #9a2d9d;
    font-family: "Lato-Black";
  }
  .product-container .product-img {
    width: 70%;
    height: auto;
    border-radius: 5%;
  }
  .product-container .product-description {
    padding: 1em 0 0;
    border-top: 2px dotted #009999;
    align-self: center;
    text-align: center;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1399px) {
  .layout {
    display: flex;
  }

  .main-footer {
    display: flex;
    flex-wrap: wrap;
    padding-top: 1em;
  }

  .catalog {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 95%;
    justify-content: space-around;
  }

  .margin-container {
    background-color: rgba(255, 255, 255, 0);
    height: 100%;
    border-radius: 10%;
    border-style: dotted;
    border-color: white;
    border-width: 2px;
    padding: 0.5em;
    align-items: stretch;
    align-content: stretch;
  }

  .background-container {
    background-color: #009999;
    padding: 1em;
    border-radius: 10%;
    max-width: 32%;
    margin: 0.6em 0;
    padding: 0.5em;
    align-items: stretch;
    align-content: stretch;
  }

  .product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: white;
    max-height: auto;
    margin: 0 auto;
    padding: 0.3em 0.5em;
    align-items: center;
    border-radius: 10%;
    height: 100%;
  }
  .product-container:hover {
    color: #9a2d9d;
    font-family: "Lato-Black";
  }
  .product-container .product-img {
    width: 70%;
    height: auto;
    border-radius: 10%;
  }
  .product-container .product-description {
    padding: 1em 0 0;
    border-top: 2px dotted #009999;
    align-self: center;
    text-align: center;
  }
}
@media only screen and (min-width: 1399px) {
  .layout {
    display: flex;
  }

  .main-footer {
    display: flex;
    flex-wrap: wrap;
    padding-top: 1em;
  }

  .catalog {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 95%;
    justify-content: space-around;
  }

  .margin-container {
    background-color: rgba(255, 255, 255, 0);
    height: 100%;
    border-radius: 10%;
    border-style: dotted;
    border-color: white;
    border-width: 2px;
    padding: 0.5em;
    align-items: stretch;
    align-content: stretch;
  }

  .background-container {
    background-color: #009999;
    padding: 1em;
    border-radius: 10%;
    max-width: 32%;
    margin: 0.6em 0;
    padding: 0.5em;
    align-items: stretch;
    align-content: stretch;
  }

  .product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: white;
    max-height: auto;
    margin: 0 auto;
    padding: 0.3em 0.5em;
    align-items: center;
    border-radius: 10%;
    height: 100%;
  }
  .product-container:hover {
    color: #9a2d9d;
    font-family: "Lato-Black";
  }
  .product-container .product-img {
    width: 70%;
    height: auto;
    border-radius: 10%;
  }
  .product-container .product-description {
    padding: 1em 0 0;
    border-top: 2px dotted #009999;
    align-self: center;
    text-align: center;
  }
}
/**********************************************************************************************************/
/**********************************************************************************************************/
/**********************************************************************************************************/
@media only screen and (min-width: 300px) and (max-width: 1023px) {
  .my-footer {
    display: flex;
    align-items: flex-end;
    align-self: flex-end;
    align-content: flex-end;
    justify-content: flex-end;
    width: 95%;
    margin: 0 auto;
  }

  .logo-svg {
    background-color: #9a2d9d;
    width: 3em;
    margin: 0 0.3em;
    border-radius: 50%;
  }
}
@media only screen and (min-width: 1024px) {
  .my-footer {
    display: flex;
    align-items: flex-end;
    align-self: flex-end;
    align-content: flex-end;
    justify-content: flex-end;
    width: 100%;
    margin: 0 auto;
  }

  .logo-svg {
    background-color: #9a2d9d;
    width: 3em;
    margin: 0 0.3em;
    border-radius: 50%;
  }
}
/**********************************************************************************************************/
/**********************************************************************************************************/
/**********************************************************************************************************/
@media only screen and (min-width: 300px) and (max-width: 1024px) {
  .aside {
    display: none;
  }
}
@media only screen and (min-width: 1025px) {
  .aside {
    display: flex;
    padding-top: 0.5em;
  }

  .aside-background-container {
    background-color: #9a2d9d;
    border-radius: 10%;
    max-width: 18em;
    max-height: 15em;
    padding: 0.5em;
    margin-bottom: 0.5em;
  }

  .aside-margin-container {
    background-color: rgba(255, 255, 255, 0);
    height: 100%;
    border-radius: 10%;
    border-style: solid;
    border-color: white;
    border-width: 1px;
    padding: 0.1em;
    align-items: stretch;
    align-content: stretch;
  }

  .aside-container {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    flex-direction: column;
  }

  .product-aside-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 10%;
    margin: 0.2em;
    padding: 0 1.5em 0.2em;
  }
  .product-aside-container:hover {
    color: #009999;
    font-family: "Lato-Black";
  }
  .product-aside-container .product-img-aside {
    width: 7em;
    height: auto;
  }
  .product-aside-container p {
    align-self: center;
    text-align: center;
    font-size: 0.6em;
    font-family: "Lato-Black";
  }
}
/**********************************************************************************************************/
/**********************************************************************************************************/
/**********************************************************************************************************/
@media only screen and (min-width: 1024px) {
  .fixed-img {
    position: fixed;
    max-width: 9em;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    right: 1em;
    top: 1em;
    border-width: 2px;
    border-style: solid;
    border-radius: 5%;
  }
  .fixed-img .product-img-fixed {
    width: 7em;
    height: auto;
  }
  .fixed-img .img-description-fixed {
    text-align: center;
    font-size: 0.6em;
  }

  .image-from-main {
    border-color: #009999;
    color: #9a2d9d;
  }

  .image-from-aside {
    border-color: #9a2d9d;
    color: #009999;
  }
}

/*# sourceMappingURL=style.css.map */
